* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	color: inherit;
	box-sizing: border-box;
}

body {
	font-family: Lato, helvetica neue;
	font-weight: 400;
}

nav {
	display: flex;
	background: #f9f9f9;
	font-size: 1em;
	color: #777;
	> * {
		flex: 1;
		padding: 1% 4%;
		a {
			display: inline-block;
		}
	}
	div.logo {
		a {
			img {
				height: 12px;
				opacity: .85;
			}
		}
	}
	div.menu {
		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			li {
				padding: 0 0 0 2%;
				a {
					letter-spacing: .05em;
					font-size: .85em;
				}
			}
		}
	}
}

header {
	text-align: center;
	padding: 4% 4% 0;
	font-size: 1.25em;
	color: #da9881;
	text-align: center;
	span {
		display: block;
	}
	h1 {
		font-size: 2.5em;
		padding: 0 0 1%;
	}
	p {
		font-size: .8em;
		a {
			border-bottom: 1px solid;
			font-weight: 700;
			color: #23b3b4;
		}
	}
}

div#feed {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 8%;
	.post {
		padding: 2%;
		flex-basis: 33.33333%;
		div.border {
			height: 3px;
			background: #f6f6f6;
		}
		img, video {
			width: 100%;
			margin: 12px 0 0;
			border-radius: 2px;
		}
		p {
			margin: 2% 0 0;
			font-size: .85em;
			color: #3f3f3f;
			line-height: 1.5em;
		}
	}
} /*FEED*/


@media (max-width: 769px) {
	nav {
		> * {
			padding: 2% 4%;
		}
	}
	div#feed {
		.post {
			flex-basis: 50%;
		}
	}
}

@media (max-width: 414px) {
	body {
		font-size: .9em;
	}
	div#feed {
		.post {
			flex-grow: 1;
			flex-basis: 100%;
		}
	}
}